<mat-toolbar color="primary">
  <span class="toolbar-title">User Dashboard</span>
  <span class="spacer"></span>
  <div class="search-container">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search by ID" [(ngModel)]="searchId" (keyup)="onSearchInput()">
      <mat-hint class="search-hint">Enter an ID to search (e.g., 123)</mat-hint>
    </mat-form-field>
  </div>
</mat-toolbar>
<div class="app-container">
  <div *ngIf="searchResult$ | async as searchResult">
    <mat-card *ngIf="searchResult" class="user-card">
      <mat-card-header>
        <img mat-card-avatar [src]="searchResult.avatar" alt="User Avatar" class="user-avatar">
        <mat-card-title>
          <span appHighlight [appHighlight]="searchResult.first_name + ' ' + searchResult.last_name + ' ' + searchResult.id" [searchTerm]="searchId?.toString() ?? ''"></span>
        </mat-card-title>
        <mat-card-subtitle>
          <span appHighlight [appHighlight]="'email:'+searchResult.email "></span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-button class="view-details-button" [routerLink]="['/user', searchResult.id]">View Details</a>
      </mat-card-actions>
    </mat-card>
    
  </div>
  <div [@fade]>
    <router-outlet></router-outlet>
  </div>
</div>